<% persona = params[:id] %>
<% lugares = Apo214::Lugarpreliminar.
  joins(:asistente).where(asistente: { id: persona.to_i})   %>


<div class="accordion" id="acordeon_caids">
  <%= item_acordeon_bs(
    'acordeon_caids', 'caids', 
    'Expandir / Colapsar', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <table class='table table-bordered table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>Id</th><th>Fecha</th><th>Nombre de quien diligencia el formato</th>
          <th> Organización</th>
        </tr>
      </thead class='thead-light'>
      <tbody>
        <% lugares.each do |lug| %>
          <tr>
            <td>
              <%= link_to lug.id, apo214.lugarpreliminar_path(lug), target: '_blank' %>
            </td>
            <td>
              <%= lug.fecha %>
            </td>
            <td>
              <%= lug.nombreusuario %>
            </td>
            <td>
              <%= lug.organizacion %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
