<% if current_usuario.nil?  %>

  <a href="usuarios/sign_in">Iniciar Sesión</a>

<% else  %>

  <div data-turbo="false" >
    <%= simple_form_for @lugarpreliminar, :html => { :class => 'form-horizontal', :id => dom_id(@lugarpreliminar) } do |f| %>
      <div data-role="content" class="form-inputs" >
        <h3><center>FORMATO DE REGISTRO DE INFORMACIÓN PRELIMINAR DE PRESUNTOS LUGARES DE DISPOSICIÓN IRREGULAR DE CADÁVERES</center></h3>
      </div>

      <div class="accordion" id='dlugarpreliminar'>
        <%= render partial: 'datos_basicos',
          locals: {f: f} %>
        <%= render partial: 'ubicacion_geografica',
          locals: {f: f} %>
        <%= render partial: 'datos_aportante',
          locals: {f: f} %>
        <%= render partial: 'antecedentes',
          locals: {f: f} %>
        <%= render partial: 'descripcion_sitio',
          locals: {f: f} %>
        <%= render partial: 'hallazgos',
          locals: {f: f} %>

        <div class="form-actions" style="text-align: center">
          <%= f.button :submit, 'Validar y Guardar', {
            class: 'btn-primary',
            onclick: 'window.sivel2_detenerEnviarCada60()' } %>
          <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            apo214.lugarespreliminares_path, class: 'btn' %>
        </div> <!-- form-action -->
      </div> <!-- accordion -->
    <% end %> <!-- simple_form -->
  </div> <!-- data-turbo-false -->
<% end %> <!-- else -->
