<%= item_acordeon_bs(
  'dlugarpreliminar', 'hallazgosreg',
  'HALLAZGOS Y REGISTRO', false) do %>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :procesoscul, :as => :text, :input_html => {:rows => 20} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :desgenanomalia, :as => :text, :input_html => {:rows => 3} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body table-responsive" style="overflow-x:scroll;">
        <%= render 'campo_infoanomalialugar', f: f %>
      </div> <!-- panel-body -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :evaluacionlugar, :as => :text, :input_html => {:rows => 3} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :riesgosdanios, :as => :text, :input_html => {:rows => 3} %>
    </div>
    <div class="col-md-8">
      <div class="panel-body table-responsive" style="overflow-x:scroll;">
        <%= render 'campo_listainfofoto', f: f %>
      </div> <!-- panel-body -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div data-turbo="true">
        <div class="panel-body table-responsive" style="overflow-x:scroll;">
          <%= render 'campo_asisreconocimiento', f: f, url: "asisreconocimientos/:id/mover" %>
        </div> <!-- panel-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% f.object.archivokml = Msip::Anexo.new if !f.object.archivokml %>
      <%= f.simple_fields_for :archivokml do |ane| %>
        <td>
</br>
<p>Archivo KML con los datos geográficos para su visualización y navegación en Google earth</p>
<%= render 'msip/anexos/anexo_campos', a: ane  %>
        </td>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body table-responsive" style="overflow-x:scroll;">
        <%= render 'campo_listaanexo', f: f %>
      </div> <!-- panel-body -->
    </div>
  </div>
<% end %>
