<tr class='nested-fields filapersona campos_depositado'>
  <% if f.object.personadepositada.nil? %>
    <% f.object.personadepositada = Msip::Persona.new %>
  <% end %>
    <%= f.simple_fields_for :personadepositada do |p| %>
        <%= render 'persona_campos_entabla', p: p, list: "fuente-depositados" %>
    <% end %>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn btn-sm btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
