<tr class='nested-fields filapersona campos_otrafuente'>
  <% if f.object.personafuente.nil? %>
    <% f.object.personafuente = Sip::Persona.new %>
  <% end %>
  <%= f.simple_fields_for :personafuente do |p| %>
    <%= render 'persona_campos_entabla', p: p, list: "fuente-otrasfuentes" %>
  <% end %>
  <%= render 'telefono_y_observacion', f: f %>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
