<div class="dlugarpreliminar">
  <div class="aportantepreliminar">
    <div class="campos-aportante">
      <% @aportante = @lugarpreliminar.persona %>
      <h3>Información personal del aportante</h3>
      <% if @aportante %>
        <p>
        <strong>Nombre:</strong> <%= @aportante.nombres %>
        </p>
        <p>
        <strong>Documento de identidad:</strong>
        <%= @aportante.numerodocumento if @aportante.numerodocumento %>
        </p>
        <p>
        <strong>Edad:</strong>
        <% if @aportante.anionac %>
          <%= edad_de_fechanac_fecha(@aportante.anionac, 
                                     @aportante.mesnac, @aportante.dianac, 
                                     Date.today.year, Date.today.month, Date.today.day) %></p>
        <% else %>
          <strong> No indica </strong>
        <% end %>
        <% if @aportante.sexo %>
          <p><strong>Sexo:</strong> <%= @aportante.sexo %></p>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-md-4">
          <strong>Grabación de audio</strong>
          <p><%= @lugarpreliminar.grabacion ? "Si" : "No" %></p>
        </div>
        <div class="col-md-4">
          <% if @lugarpreliminar.parentezco %>
            <strong>Parentezco</strong>
            <p><%= @lugarpreliminar.parentezco %></p>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @lugarpreliminar.telefono %>
            <strong>Teléfono</strong>
            <p><%= @lugarpreliminar.telefono %></p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <% if @lugarpreliminar.tipotestigo %>
            <strong>Tipo de testigo</strong>
            <p><%= @lugarpreliminar.tipotestigo.nombre %></p>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @lugarpreliminar.tipotestigo && @lugarpreliminar.tipotestigo.id == 4 %>
            <% estipo = "display: block" %>
          <% else %>
            <% estipo = "display: none" %>
          <% end %>
          <div class="otrotipotestigo" style="<%= estipo %>">
            <% if @lugarpreliminar.otrotipotestigo %>
              <h3>Otro tipo de testigo</h3>
              <p><%= @lugarpreliminar.otrotipotestigo %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
