<div class="row">
  <div class="col-md-12">
    <% if @lugarpreliminar.hechos %>
      <strong>Hechos:</strong>
      <%= @lugarpreliminar.hechos %>
    <% end %>
  </div>
  <div class="col-md-12">
    <% if @lugarpreliminar.hechos %>
      <strong>Ubicación Específica:</strong>
      <%= @lugarpreliminar.ubicaespecifica %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @lugarpreliminar.tipoentierro %>
      <strong>Tipo de Entierro:</strong>
      <%= @lugarpreliminar.tipoentierro.nombre %>
    <% end %>
  </div>
  <div class="col-md-3">
    <% if @lugarpreliminar.disposicioncadaveres %>
      <strong>Disposición de Cadáveres:</strong>
      <%= @lugarpreliminar.disposicioncadaveres.nombre %>
    <% end %>
  </div>
  <div class="col-md-3">
    <% if @lugarpreliminar.otradisposicioncadaveres.present? %>
      <strong>Otra Disposición de Cadáveres:</strong>
      <%= @lugarpreliminar.otradisposicioncadaveres %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <% if @lugarpreliminar.min_depositados || @lugarpreliminar.max_depositados %>
      <strong>Número estimado de individuos depositados:</strong>
      <%= @lugarpreliminar.min_depositados %> -
      <%= @lugarpreliminar.max_depositados %>
    <% end %>
  </div>
  <div class="col-md-3">
    <% if @lugarpreliminar.fechadis %>
      <strong>Fecha de disposición:</strong>
      <%= @lugarpreliminar.fechadis %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @lugarpreliminar.horadis %>
      <strong>Hora de disposición:</strong>
      <%= @lugarpreliminar.horadis.strftime("%I:%M %p") %>
    <% end %>
  </div>
</div>

</br>
<div class="row">
  <div class="col-md-2">
    <h5>Lugar del asesinato:</h5>
  </div>
  <div class="col-md-10">
    <strong>In situ:</strong>
    <%= @lugarpreliminar.insitu ? 'Sí' : 'No' %>
    <br>
    <% if @lugarpreliminar.detallesasesinato %>
      <strong>Detalles:</strong>
      <%= @lugarpreliminar.detallesasesinato %>
    <% end %>
  </div>
</div>

<br>
<% if @lugarpreliminar.personadepositada.size > 0 %>
<h4> Personas inhumadas en este sitio </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><strong>Id:</strong></th>
      <th scope="col"><strong>Nombres:</strong></th>
      <th scope="col"><strong>Apellidos:</strong></th>
      <th scope="col"><strong>Tipo de Documento:</strong></th>
      <th scope="col"><strong>Número de Documento:</strong></th>
      <th scope="col"><strong>Sexo:</strong></th>
      <th scope="col"><strong>Edad:</strong></th>
    </tr>
  </thead>
  <tbody>
  <% @lugarpreliminar.personadepositada.each do |persona| %>
    <tr>
      <th scope="row"><%= persona.id %></th>
      <td> <%= persona.nombres.present? ? persona.nombres : 'N/A' %></td>
      <td> <%= persona.apellidos %></td>
      <td> <%= persona.tdocumento.sigla if persona.tdocumento %></td>
      <td> <%= persona.numerodocumento %></td>
      <td> <%= persona.sexo %></td>
      <td> <%= edad_de_fechanac_fecha(@aportante.anionac,
              @aportante.mesnac, @aportante.dianac, Date.today.year,
              Date.today.month, Date.today.day) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<br>
<% if @lugarpreliminar.personafuente.size > 0 %>
<h4> Otras fuentes de información sobre estos hechos </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><strong>Id:</strong></th>
      <th scope="col"><strong>Nombres:</strong></th>
      <th scope="col"><strong>Apellidos:</strong></th>
      <th scope="col"><strong>Tipo de Documento:</strong></th>
      <th scope="col"><strong>Número de Documento:</strong></th>
      <th scope="col"><strong>Sexo:</strong></th>
      <th scope="col"><strong>Edad:</strong></th>
    </tr>
  </thead>
  <tbody>
  <% @lugarpreliminar.personafuente.each do |persona| %>
    <tr>
      <th scope="row"><%= persona.id %></th>
      <td> <%= persona.nombres.present? ? persona.nombres : 'N/A' %></td>
      <td> <%= persona.apellidos %></td>
      <td> <%= persona.tdocumento.sigla %></td>
      <td> <%= persona.numerodocumento %></td>
      <td> <%= persona.sexo %></td>
      <td> <%= edad_de_fechanac_fecha(@aportante.anionac,
              @aportante.mesnac, @aportante.dianac, Date.today.year,
              Date.today.month, Date.today.day) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<% if @lugarpreliminar.detallesdisposicion != '' %>
  <%= @lugarpreliminar.detallesdisposicion %>
<% end %>
