<h2>REGISTRO DE INFORMACIÓN PRELIMINAR DE PRESUNTOS LUGARES DE DISPOSICIÓN IRREGULAR DE CADÁVERES</h2>

<!-- DATOS BÁSICOS -->
</br>
<section>
  <h2>DATOS BÁSICOS</h2>
  <%= render partial: 'show_datos_basicos' %>
</section>

<!-- UBICACIÓN GEOGRÁFICA -->
</br>
<section>
  <h2>UBICACIÓN GEOGRÁFICA</h2>
</section>

<!-- DATOS DEL APORTANTE -->
</br>
<section>
  <h2>DATOS DEL APORTANTE</h2>
  <%= render partial: 'show_datos_aportante' %>
</section>

<!-- ANTECEDENTES PROPORCIONADOS POR EL APORTANTE -->
</br>
<section>
  <h2>ANTECEDENTES PROPORCIONADOS POR EL APORTANTE</h2>
  <%= render partial: 'show_antecedentes' %>
</section>

<!-- DESCRIPCIÓN DEL SITIO Y SU ENTORNO -->
</br>
<section>
  <h2>DESCRIPCIÓN DEL SITIO Y SU ENTORNO</h2>
  <%= render partial: 'show_descripcion_sitio' %>
</section>

<!-- HALLAZGOS Y REGISTRO -->
</br>
<section>
  <h2>HALLAZGOS Y REGISTRO</h2>
  <%= render partial: 'show_hallazgos' %>
</section>


<div class='form-actions'>
  <%= render partial: 'show_acciones' %>
</div>
