<div>
  <%= form_with(model: [@asisreconocimiento.lugarpreliminar, @asisreconocimiento], data: {turbo_frame: "asisreconocimientos", turbo_action: "advance", controller: "apo214--form-asisreconocimiento", action: "turbo:submit-end->apo214--form-asisreconocimiento#reset"}, url: apo214.lugarpreliminar_asisreconocimientos_path(@asisreconocimiento.lugarpreliminar, @asisreconocimiento)) do |form| %>
  <div class= "filapersona text-center campos_asistente">
    <div class="row">
      <div class="col-3">
        <%= form.text_field :organizacion,
            class: "form-control" %>
      </div>
      <div class="col-3">
        <% if form.object.asistente.nil? %>
          <% if @persona %>
            <% @asisreconocimiento.asistente = @persona %>
          <% else %>
            <% form.object.asistente = Msip::Persona.new %>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-6">
            <datalist id="fuente-asistentes">
            </datalist>
          <%= form.hidden_field :persona_id, value: @persona ? @persona.id : nil %>
        <%= form.simple_fields_for :asistente do |p| %>
          <%
            ph = 'Buscar'
            ac = { list: "fuente-asistentes" }
          %>
        <%= p.input :nombres, placeholder: ph,
              label: false,
              value_method: lambda {|t| '' if t.nombres == 'N'},
              :input_html => ac
          %>
          </div>
          <div class="col-6">
            <%= p.input :apellidos,
              label: false
              %>
          </div>
        </div>
      </div>
      <div class="col-2">
          <%= p.input :sexo, 
            collection: [["F", :F], ["M", :M], ["S", :S]],
            label: false,
            include_blank: false %>
        <% end %>
      </div>
      <div class="col-4">
        <%= form.submit 'Añadir', 
          class: "btn"
        %>
      </div>
    </div>
  </div>
<% end %>
</div>
