<%= form_with(model: [@asisreconocimiento.lugarpreliminar, @asisreconocimiento], data: {turbo_frame: "asisreconocimientos", turbo_action: "advance", controller: "form-asisreconocimiento", action: "turbo:submit-end->form-asisreconocimiento#reset"}) do |form| %>

  <% if form.object.asistente.nil? %>
    <% form.object.asistente = Sip::Persona.new %>
  <% end %>

  <%= form.simple_fields_for :asistente do |p| %>
    <div class="filapersona row" >
      <div class="col-md-2">
        <%= form.text_field :organizacion %> </br>
      </div>

      <div class="col-md-3">
        <% ph = 'N'
        ac = {'data-autocompleta' => 'no', style: 'width: 8em' }
        if (!p.object.nombres || p.object.nombres == 'N' || p.object.nombres == '')
          ph = 'Buscar'
          ac = { style: 'width: 16em' }
        end %>
        <%= p.input :nombres, placeholder: ph,
          label: false,
          value_method: lambda {|t| '' if t.nombres == 'N'},
          input_html: ac
        %>
      </div>

      <div class="col-md-3">
        <%= p.input :apellidos,
          label: false,
          input_html: {style: 'width: 16em'}
        %>
      </div>

      <div class="col-md-2">
        <%= p.input :sexo, 
          label: false,
          collection: [["F", :F], ["M", :M], ["S", :S]], 
          input_html: { style: 'width: 4em'},
          include_blank: false %>
      </div>
      <div class="col-md-2">
        <%= form.submit 'Enviar' %>
      </div>
    </div> <!-- row filapersona -->
  <% end %>
<% end %>
