<div>
<%= form_with(model: [@asisreconocimiento.lugarpreliminar, @asisreconocimiento], data: {turbo_frame: "asisreconocimientos", turbo_action: "advance", controller: "apo214--form-asisreconocimiento", action: "turbo:submit-end->apo214--form-asisreconocimiento#reset"}) do |form| %>
  <div class= "filapersona text-center">
    <div class="row">
      <div class="col-3">
        <%= form.text_field :organizacion,
            class: "form-control" %>
      </div>
      <div class="col-3">
        <% if form.object.asistente.nil? %>
          <% form.object.asistente = Sip::Persona.new %>
        <% end %>
        <div class="row">
          <div class="col-6">
        <%= form.simple_fields_for :asistente do |p| %>
          <%= p.input :nombres,
              label: false,
              value_method: lambda {|t| '' if t.nombres == 'N'}
          %>
          </div>
          <div class="col-6">
            <%= p.input :apellidos,
              label: false
              %>
          </div>
        </div>
      </div>
      <div class="col-2">
          <%= p.input :sexo, 
            collection: [["F", :F], ["M", :M], ["S", :S]],
            label: false,
            include_blank: false %>
        <% end %>
      </div>
      <div class="col-4">
        <%= form.submit 'Añadir', 
          class: "btn"
        %>
      </div>
    </div>
  </div>
<% end %>
</div>
